<a class="nav-link text-dark" [routerLink]="['/users-list']"> < Back to Users List</a>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" value="{{selectedUser?.name}}" disabled="disabled" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="text" class="form-control" value="{{selectedUser?.email}}" disabled="disabled" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone</label>
    <input type="text" class="form-control" value="{{selectedUser?.phone}}" disabled="disabled" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Gender</label>
    <input type="text" class="form-control" value="{{selectedUser?.gender}}" disabled="disabled" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input type="text" class="form-control" value="{{selectedUser?.address}}" disabled="disabled" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Company</label>
    <input type="text" class="form-control" value="{{selectedUser?.company}}" disabled="disabled" />
  </div>
</form>

<div class="row">
  <div class="col-md-6 col-sm-6"><friend-list></friend-list></div>
  <div class="col-md-6 col-sm-6"><tag-list></tag-list></div>
</div>



