<div class="pull-right">
  <button class="btn btn-info" [routerLink]="['/user-create']">
    <i class="fa fa-user" aria-hidden="true"></i>
    Create new User
  </button>
  &nbsp;
  <button class="btn btn-info" (click)="reloadDataViaHttpRequest()">
    <i class="fa fa-refresh" aria-hidden="true"></i>
    Reload Data
  </button>
</div>
<h2>
  {{message}}
</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="sortable col-2" (click)="sortTable('name')">
        Name
        <grid-sorting-helper [sortColumn]="sortColumn" [sortOrder]="sortOrder" currentColumn="name"></grid-sorting-helper>
      </th>
      <th scope="col" class="col-2">Phone</th>
      <th scope="col" class="sortable col-2" (click)="sortTable('company')">
        Company
        <grid-sorting-helper [sortColumn]="sortColumn" [sortOrder]="sortOrder" currentColumn="company"></grid-sorting-helper>
      </th>
      <th scope="col" class="sortable col-3" (click)="sortTable('email')">
        Email
        <grid-sorting-helper [sortColumn]="sortColumn" [sortOrder]="sortOrder" currentColumn="email"></grid-sorting-helper>
      </th>
      <th scope="col" class="sortable col-1" (click)="sortTable('friends')" style="padding:0.75rem 0.4rem">
        Friends
        <grid-sorting-helper [sortColumn]="sortColumn" [sortOrder]="sortOrder" currentColumn="friends"></grid-sorting-helper>
      </th>
      <th scope="col" class="sortable col-1" (click)="sortTable('tags')">
        Tags
        <grid-sorting-helper [sortColumn]="sortColumn" [sortOrder]="sortOrder" currentColumn="tags"></grid-sorting-helper>
      </th>
      <th scope="col" class="col-1">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredUsers; let i = index;" [attr.data-index]="i+1" class="d-flex">
      <td class="col-2">{{item.name}}</td>
      <td class="col-2">{{item.phone}}</td>
      <td class="col-2">{{item.company}}</td>
      <td class="col-3">{{item.email}}</td>
      <td class="col-1">{{item.friends.length}}</td>
      <td class="col-1">{{item.tags.length}}</td>
      <td class="col-1"><a class="nav-link text-dark" [routerLink]="['/user-details', item._id]" style="padding:0rem 1rem;"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-3 col-sm-3">
    <select class="form-control" (change)="setCurrentPage($event)">
      <option *ngFor="let item of pageNumbersList" [value]="item" [selected]="item == currentPage">Page {{item}}</option>
    </select>
  </div>
  <div class="col-md-6 col-sm-6">{{gridMessage}}</div>
  <div class="col-md-3 col-sm-3">
    <select class="form-control" (change)="setPageSize($event)">
      <option *ngFor="let item of [2,3,5,10]" [value]="item" [selected]="item == pageSize">{{item}} Records per page</option>
    </select>
  </div>
</div>

<div class="row">&nbsp;</div>
