<h2>
  {{message}}
</h2>
<table class="table">
  <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col" class="sortable" (click)="sortTable('name')">
        Name
        <span class="pull-right">
          <i *ngIf="sortColumn != 'name'" class="fa fa-fw fa-sort"></i>
          <i *ngIf="sortColumn=='name' && sortOrder==true" class="fa fa-fw fa-sort-up"></i>
          <i *ngIf="sortColumn=='name' && sortOrder==false" class="fa fa-fw fa-sort-down"></i>
        </span>
      </th>
      <th scope="col">Phone</th>
      <th scope="col" class="sortable" (click)="sortTable('company')">
        Company
        <span class="pull-right">
          <i *ngIf="sortColumn != 'company'" class="fa fa-fw fa-sort"></i>
          <i *ngIf="sortColumn=='company' && sortOrder==true" class="fa fa-fw fa-sort-up"></i>
          <i *ngIf="sortColumn=='company' && sortOrder==false" class="fa fa-fw fa-sort-down"></i>
        </span>
      </th>
      <th scope="col" class="sortable" (click)="sortTable('email')">
        Email
        <span class="pull-right">
          <i *ngIf="sortColumn != 'email'" class="fa fa-fw fa-sort"></i>
          <i *ngIf="sortColumn=='email' && sortOrder==true" class="fa fa-fw fa-sort-up"></i>
          <i *ngIf="sortColumn=='email' && sortOrder==false" class="fa fa-fw fa-sort-down"></i>
        </span>
      </th>
      <th scope="col" class="sortable" (click)="sortTable('friends')">
        Friends
        <span class="pull-right">
          <i *ngIf="sortColumn != 'friends'" class="fa fa-fw fa-sort"></i>
          <i *ngIf="sortColumn=='friends' && sortOrder==true" class="fa fa-fw fa-sort-up"></i>
          <i *ngIf="sortColumn=='friends' && sortOrder==false" class="fa fa-fw fa-sort-down"></i>
        </span>
      </th>
      <th scope="col" class="sortable" (click)="sortTable('tags')">
        Tags
        <span class="pull-right">
          <i *ngIf="sortColumn != 'tags'" class="fa fa-fw fa-sort"></i>
          <i *ngIf="sortColumn=='tags' && sortOrder==true" class="fa fa-fw fa-sort-up"></i>
          <i *ngIf="sortColumn=='tags' && sortOrder==false" class="fa fa-fw fa-sort-down"></i>
        </span>
      </th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredUsers; let i = index;" [attr.data-index]="i+1">
      <!--<th scope="row">{{i+1}}</th>-->
      <td>{{item.name}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.company}}</td>
      <td>{{item.email}}</td>
      <td>{{item.friends.length}}</td>
      <td>{{item.tags.length}}</td>
      <td><a class="nav-link text-dark" [routerLink]="['/user-details', item._id]">Details</a></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-3 col-sm-3">
    <select class="form-control" (change)="setCurrentPage($event)">
      <option *ngFor="let item of pageNumbersList" [value]="item" [selected]="item == currentPage">Page {{item}}</option>
    </select>
  </div>
  <div class="col-md-6 col-sm-6">{{gridMessage}}</div>
  <div class="col-md-3 col-sm-3">
    <select class="form-control" (change)="setPageSize($event)">
      <option *ngFor="let item of [2,3,5,10]" [value]="item" [selected]="item == pageSize">{{item}} Records per page</option>
    </select>
  </div>
</div>

<div class="row">&nbsp;</div>
