.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-dirty .ng-invalid:not(form) {
  border-style: solid;
  border-color: #dc3545;
  border-width: 1px 5px;
}

.ng-dirty .ng-valid ~ .valid-feedback {
  display: block;
}

.ng-dirty .ng-invalid ~ .invalid-feedback {
  display: block;
}
